.tabs {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;

  /* Sizes */
  &-sm {
    .tab { 
      font-size: 12px; 
      padding: 8px 12px; 
    }
  } 
  
  &-md {
    .tab { 
      font-size: 14px; 
      padding: 10px 16px; 
    }
  } 

  &-lg {
    .tab { 
      font-size: 16px; 
      padding: 14px 20px; 
    }
  } 
}

.tab {
  position: relative;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-500);
  background: none;
  border: none;
  cursor: pointer;
  transition: var(--ease);

  &:hover {
    color: var(--color-primary);
  }

  &-active {
    color: var(--color-primary);
  }

  &-indicator {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: var(--color-primary);
  }

  &-header {
    display: flex;
  }
}
