.styleguide {
  @media (max-width: 860px) {
    flex-direction: column;
  }

  &-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    + .styleguide-row {
      margin-top: 12px;
    }
  }

  &-swatches {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;

    @media (max-width: 860px) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    &-semantic {
      grid-template-columns: repeat(4, 1fr);

      @media (max-width: 860px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .swatch {
    border-radius: 16px;
    border: 1px solid var(--color-border);
    padding: 14px 12px;
    font-weight: 900;
    font-size: 12px;

    &-bg {
      background: var(--color-bg);
      color: var(--color-text);
    }

    &-surface {
      background: var(--color-surface);
      color: var(--color-text);
    }

    &-primary {
      background: var(--color-primary);
      color: #fff;
    }

    &-accent {
      background: var(--color-accent);
      color: rgba(15, 6, 6, 0.82);
    }

    &-pink {
      background: var(--color-pink);
      color: rgba(0, 0, 0, 0.82);
    }

    &-info {
      background: var(--color-info);
      color: #fff;
    }

    &-success {
      background: var(--color-success);
      color: #fff;
    }

    &-warning {
      background: var(--color-warning);
      color: rgba(0, 0, 0, 0.82);
    }

    &-danger {
      background: var(--color-danger);
      color: #fff;
    }
  }

  .card {
    + .card {
      margin-top: var(--space-lg);
    }

    + .typography {
      margin-top:  var(--space-4xl);
    }
  }
}
